header {
  background-color: #a0a0a0;
  padding: 0 50px;
}

#header-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#header-container img {
  transition: all .2s;
  width: 150px;
}

#header-container img:hover {
  transform: rotate(360deg);
}

nav {
  display: flex;
  align-items: center;
}

nav li {
  display: inline;
  text-transform: uppercase;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font: bold;
  font-size: 20px;
  transition: .1s;
}

nav a:hover {
  color: #7c5912;
}

@media (max-width: 1000px) {
  nav li {
    display: block;
    margin: 5px;
    text-align: center;
  }
}