header {
  background: url("/images/bg.jpg");
  padding: 0 50px;
}

#header-div {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#logo {
  transition: all 0.2s;
  width: 150px;
}

#logo:hover {
  transform: rotate(360deg);
}

#header-nav {
  display: flex;
  align-items: center;
}

#header-nav li {
  display: inline;
  text-transform: uppercase;
  margin: 0 20px;
}

#header-nav a {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  transition: 0.1s;
}

#header-nav a:hover {
  color: #7c5912;
}

@media (max-width: 1000px) {
  #header-nav li {
    display: block;
    margin: 5px;
    text-align: center;
  }
}

@media (max-width: 426px) {
  #header-div {
    text-align: center;
    width: 100%;
    flex-direction: column;
  }

  #header-nav {
    margin: 0 auto 20px;
  }
}
